<div class="container" style="margin-top: 150px;">

   <h2 class="heading">DodgeWars Rules</h2>

   <ol id="rules-list">
      <li>Your DodgeWars nickname should not exceed 10 characters (equivalent to the restriction set in the BFME2/RotWK multiplayer system.</li>
      <li>In order to use and be part of this platform you must accept the terms of use.</li>
      <li>You may have as many nicknames as you like.</li>
      <li>Your DWs nickname must match your in-game nickname. Should this not be the case, your DWs game will not be rated.</li>
      <li>If another user has reserved a nickname you have been known by for an extended period of time, you may dispute it by contacting staff.</li>
   </ol>

   <h2 class="heading">Terms of use</h2>

   <p>DodgeWars is a non-profit product, and therefore free of charge. However, we may collect a minimum amount data from users to ensure the successful operation of the platform.</p>
   <p>You are required to provide a login username and password during the registration process. These details are captured and stored by us. It is used solely to distinguish between the different users of the platform.</p>

   <h2 class="heading">Points system</h2>

   <p>Every new player starts with a rating of value 1600. In ELO system this is rating of a medium player. Points are granted to a player according to rule: number of points a winner gets is number of points that loser is loosing.</p>

   <p>Points are calculated based off the following formula:</p>

   <div class="row">
      <img src="/assets/components/rules/wzor-dw-points.png">
   </div>
   <div class="row">
      <img src="/assets/components/rules/wzor-dw-R.png">
   </div>

   <p><b>Legend:</b></p>

   <p>
      k - ELO k factor is a measure of how strong a match will impact the players' ratings<br>
      r - initial rating of winner or loser<br>
      R - transformed rating of winner or loser<br>
      W, L = transformed rating of winner and loser accordingly<br>
      &Delta; - number of points traded between players
   </p>

   <div style="min-height: 100vh;"></div>
</div>