<div class="container" style="margin-top: 150px;">

   <h2 class="heading">Video tutorial</h2>

   <iframe width="800" height="500" src="https://www.youtube.com/embed/jfSGKqN3XDs" frameborder="0" allowfullscreen></iframe>

   <h2 class="heading">Downloads</h2>
 
   <div class="row">
      <div class="col-sm-6 download-container">
         <a class="download-link" target="_blank" href="/assets/components/get-started/DodgeWars RP installer.exe">Main download link</a>
      </div>
      <div class="col-sm-6 download-container">
            <a class="download-link" target="_blank" href="https://drive.google.com/open?id=1O1I6T6XBVyu_OFO1nLbN05TqYbnkwGgh">Alternative download link</a>
      </div>
   </div>
   

   <h2 class="heading">Getting started</h2>

   <ol id="get-started-steps">
      <li>Register your dodgewars account.</li>
      <li>Log in using your credentials.</li>
      <li>Enter <a routerLink="/create-nickname" target="_blank">this link</a> to create your new nickname.</li>
      <li>Download Replay Parser installer using one of links given above and install the application.</li>
      <li>Use your account credentials to log in the desktop application and you are good to go!</li>
   </ol>

   <p>*Replay Parser last update: 26.06.2019 22:30 GMT+1</p>
   <p>From now as long as you're logged in and application is running in the background, you can press F6 to report game every time you lost.</p>

   <div style="min-height: 100vh;"></div>
</div>