button{
    margin: 50px 0 25px 15px;    
}

@media (min-width: 400px) {
    button{
        margin: 50px 0 25px 15px;    
    }
}

.cursor-pointer{
    cursor: pointer;
}

table{
    text-align: center;
}

.lotr-font{
    font-family: "Lotr";
    font-size: 30px;
}

.dropdown-menu{
    transform: translate3d(5px, 100px, 0px)!important;
}

.dropdown-menu .dropdown-item{
    cursor: pointer;
}