button{
    margin: 25px 0 25px 0;    
}

@media (min-width: 400px) {
    button{
        margin: 25px 0 25px 0;    
    }
}

.cursor-pointer{
    cursor: pointer;
}

table{
    text-align: center;
}

.lotr-font{
    font-family: "Lotr";
    font-size: 30px;
}