<div class="container" style="margin-top: 150px;">

  <h2 class="heading">Supported maps</h2>
  <p>Below there is list of maps that are currently supported by DodgeWars.</p>

  <div class="row">

    <div class="col-md-4">
      <p>1v1 maps:</p>
      <ul class="maps-list">
        <li>Fords of Isen</li>
        <li>Rohan</li>
        <li>Rohan II</li>
        <li>Erech</li>
        <li>Erech II</li>
      </ul>
    </div>

    <div class="col-md-4">
      <p>2v2 maps:</p>
      <ul class="maps-list">
          <li>Anfalas II</li>
          <li>Anorien</li>
          <li>Anorien II</li>
          <li>Azalnubizar Valley</li>
          <li>Buckland</li>
          <li>Dale</li>
          <li>Eregion</li>
          <li>Far Harad</li>
          <li>Fords of Rohan</li>
          <li>Frostfall Canyon</li>
          <li>Greenleaf Forest</li>
          <li>Ost-in-edhil</li>
          <li>Plains of Rohan</li>
          <li>River Running</li>
          <li>Rohan Fortifications</li>
          <li>Stonevain Valley</li>
          <li>Tombs Of Karna II</li>
          <li>Tower Hills</li>
          <li>Udun</li>
      </ul>
    </div>

    <div class="col-md-4">
      <p>4v4 maps:</p>
      <ul class="maps-list">
          <li>Nanduhirion</li>
          <li>Wold</li>
          <li>Druadan Forest</li>
      </ul>
    </div>

  </div>

  <div style="min-height: 100vh;"></div>
</div>