ul li{
    text-align: left;
  }

  .maps-list, p{
    font-size: 18px;
}

.heading{
    margin-bottom: 25px;
    margin-top: 50px;
}

.maps-list li{
    margin-bottom: 15px;
}

.row > .col-md-4 > p{
    margin-left: 20px;
}