﻿.btn-xlarge {
    padding: 18px 28px;
    font-size: 44px;
    line-height: normal;
    -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
            border-radius: 8px;
  }

#image-container{
  position: relative;
  width: 80%;
  margin: 0 auto;
}



@media (max-width: 576px) {
  #img-element{
    display: none !important;
  }

  #getstarted-button{
    margin-top: 30px;
  }

  #image-container{
    padding-top: 100px;
  }

  #lotr-image-text-left{
    position: absolute;
    top: 70px;
    left: 60px;
    font-family: "Lotr";
    font-size: 25px;
    
  }

  #lotr-image-text-right{
    position: absolute;
    top: 120px;
    left: 60px;
    font-family: "Lotr";
    font-size: 25px;
    
  }
}

@media (max-width: 370px) {
  #lotr-image-text-right{
    position: absolute;
    top: 150px;
    left: 60px;
    font-family: "Lotr";
    font-size: 25px;
    
  }
}

@media (min-width: 576px) {
  
  #lotr-image-text-left{
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Lotr";
    font-size: 18px;
  }

  #lotr-image-text-right{
    position: absolute;
    top: 30px;
    right: 30px;
    font-family: "Lotr";
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  #lotr-image-text-left {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Lotr";
    font-size: 24px;
  }

  #lotr-image-text-right {
    position: absolute;
    top: 30px;
    right: 30px;
    font-family: "Lotr";
    font-size: 24px;
  }

  
  
}

@media (min-width: 992px) {
  #lotr-image-text-left {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Lotr";
    font-size: 30px;
  }

  #lotr-image-text-right {
    position: absolute;
    top: 30px;
    right: 30px;
    font-family: "Lotr";
    font-size: 30px;
  }
}