﻿<header class="">
    <div id="image-container">
        
        <div id="lotr-image-text-left">2.02 RoTWK </div>
        <div id="lotr-image-text-right">gaming league</div>
        <img id="img-element" class="img-fluid d-block mx-auto"
            src="/assets/components/home/witch-king-2.jpg"
            style="height: 450px; width: 100%; margin-top: 75px;"
            alt="">
            <!-- <img id="img-element" class="img-fluid d-block mx-auto"
            src="/assets/components/home/home-placeholder.png"
            style="height: 450px; width: 100%; margin-top: 75px;"
            alt=""> -->

        
    </div>
  </header>
  <section class="py-5 section-grey">
    <div class="container section-padding">
        <div class="row">
            <div class="col-md-5 d-flex align-items-center justify-content-center">
                <button id="getstarted-button" type="button" class="btn btn-primary btn-xlarge" routerLink="/get-started">Get started!</button>
            </div>
            <div class="col-md-7 center-me">
                <h1>What is DodgeWars?</h1>
                <p>
                    It is a new Rise of the Witch-king 2.02 gaming platform that allows users to play ranked games, whether it is 1v1 or 4v4. It is designed to provide users with a reliable ladder system which keeps track of all ranked games - similar to ClanWars - but far more user-friendly.
                </p>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 section-blue" style="border-top: 1px solid rgba(0, 0, 0, 0.6)">
    <div class="container section-padding">
        <div class="row">
            <div class="col-md-12 center-me">
                <h1>Why should I join it?</h1>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 section-blue">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/comfort-icon.png"
                    style="height: 200px; width: 50%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Quick and Painless Reporting</h1>
                <p class="lead center-me"></p>
                <p class="left-me">Say goodbye to on-site manual reporting and hello to in-game reporting! With the press of a button post-game, users are able to instantaneously report their games without hassle - no editing required. What's more, DodgeWars allows users to customise their report button as they see fit
                </p>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 section-grey">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/fair-symbol-1.jpg"
                    style="height: 200px; width: 50%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Fair points system</h1>
                <p class="lead center-me">Calculating points is based on current players' rating, not on current amount of points.</p>
                <p class="left-me">After every game is played all players' ratings are updated based off ELO points system. You can read more about it in the <a href="/rules" target="_blank">rules section</a></p>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 section-blue">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/replay-logo.png"
                    style="height: 220px; width: 70%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
               <h1>Replays auto upload</h1>
                <p class="lead center-me">Your game replays stored in one place!</p>
                <p class="left-me">Every game you report in the system gets uploaded along with the replay file, so every game played in dodgewars can be downloaded anytime!</p>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 section-grey">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/bootstrap-stack.png"
                    style="height: 200px; width: 50%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Fresh and modern look</h1>
                <!-- <p class="lead center-me">TOOD: Staff work</p> -->
                <p class="left-me">The user interface was rebuilt, it follows modern design trends and looks really eye-catching!</p>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 section-blue">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/games-matching.jpg"
                    style="height: 200px; width: 100%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Easy games matching</h1>
                <p class="lead center-me">dodgewars is a 'free-lancer' system which means there're no clans.</p>
                <p class="left-me">Which is very good because this is a lot easier to get any kind of game and make it recorded/counted on the ladder. This allows us to minimize amount of time you have to wait for a game. What's bad about clans system is that very often your clan mate is offline or you have to play with a guest. Well, no more!</p>
            </div>
        </div>
    </div>
  </section>
  <section class="py-5 section-blue">
    <div class="container">
        <div class="row section-padding">
            <div class="col-md-12 center-me">
                <h1>That's not all, there will be more!</h1>
                <p class="lead" style="padding-top: 25px;">
                    These are the features that are coming along with forward releases of the ladder:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-white bg-primary mb-3" style="">
                    <div class="card-header">Penalty for inactivity</div>
                    <div class="card-body">
                        <h4 class="card-title">Players decay 15 points for every 14 days of inactivity</h4>
                        <p class="card-text">It will only affect you if you stay in certain top players range. The top players range is defined as players having the highest two hundreds of points gained. It will affect both individual and team ratings. For example if you play 1v1 actively, but you stopped playing team games and you stay in top, then only your Team rating value will be subtracted.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-white " style="">
                    <div class="card-header">Reduce onhost advantage</div>
                    <div class="card-body">
                        <h4 class="card-title">Playing offhost is more difficult</h4>
                        <p class="card-text">We cannot make offhost play without offhost delay, so we can make the onhost gain less points for each game which is more fair.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-white bg-primary mb-3" style="">
                    <div class="card-header">Medals and prizes</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-white bg-primary mb-3" style="">
                    <div class="card-header">AR interface</div>
                    <div class="card-body">
                        <h4 class="card-title">Not all players report their loses</h4>
                        <p class="card-text">You will be able to visit a comfortable user interface where you can fill an AR form which will be then processed by staff.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-white " style="">
                    <div class="card-header">Replays autosaving</div>
                    <div class="card-body">
                        <h4 class="card-title">Sometimes when reporting something goes wrong</h4>
                        <p class="card-text">For example you may mishit the key you configured. Having autosaving feature will allow you renaming the file properly and report later.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of container-->
  </section>
  
  <!-- </div> -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>