 <circle-spinner [hidden]="!loading"></circle-spinner>

<div class="container">

   <div class="" style="margin-top: 75px;">
      <div class="col-sm-12" style="text-align: center;">
         <img class="img-fluid d-block mx-auto"
            src="/assets/shared/rotwk-logo.jpg"
            
            style="width: 40%; height: 30%;"
            alt="">
         <p class="lotr-font">team ladder</p>
      </div>
   </div>

    <button (click)="getTeamLadderData()" type="button" class="btn btn-primary">Refresh</button>

    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Nickname</th>
                    <th>Rating</th>
                    <th>Team wins</th>
                    <th>Team loses</th>
                    <th>Points</th>
                    <th>History</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nick of teamWarriors; let i=index" >
                    <td>{{i + 1}}</td>
                    <td>{{ nick.Nickname }}</td>
                    <td>{{ nick.TeamRating }}</td>
                    <td>{{ nick.TeamGamesLadderWinsCount }}</td>
                    <td>{{ nick.TeamGamesLadderLosesCount }}</td>
                    <td>{{ nick.PointsOnTeamGamesLadder }}</td>
                    <td><i (click)="showWarriorHistory(nick.Nickname)" class="fa fa-history cursor-pointer"></i></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



      
      
      
      <!-- <div style="min-height: 100vh;"></div> -->

  
  