table{
    margin-top: 50px;
    text-align: center;
  }
  
  img{
    width: 25%;
    height: 50%;
  }
  
  table tr td{
    vertical-align: middle;
  }
  
  table tr td p{
    margin: 0 auto;
  }
  
  .download-rep-icon{
    font-size: 18px;
  }
  
  .download-rep-icon:hover {
    color: #d9d9d9; 
    cursor: pointer;
  }
  
#games-count-selection{
margin-top: 100px;
}

@media(max-width: 768px){
    h4{
        margin-bottom: 15px;
    }
    #btn-container{
        padding-right: 15px;
    }
    #games-count-input{
        width: 75%;
        margin: 0 auto;
    }
    button{
        margin-right: 200px;
        margin-top: 15px;
    }
    table{
      margin-top: 100px;
    }
}

@media(min-width: 768px){
    #btn-container{
        padding-right: 15px;
    }
    button{
        margin-top: 15px;
    }
  }

  @media (min-width: 992px) {
    h4{
        margin-bottom: 15px;
    }
    #btn-container{
        padding-right: 15px;
    }
    #games-count-input{
        width: 75%;
        margin: 0 auto;
    }
    button{
        margin-right: 55px;
        margin-top: 15px;
    }
    
  }

  @media (min-width: 1200px) {
    button{
        margin-right: 65px;
        margin-top: 15px;
    } 
  }

  #updates-games-btn{
    position: absolute;
    right: 15px;
  }
  
p{
  font-weight: 500;
}
  