<circle-spinner [hidden]="!loading"></circle-spinner>

<div class="container">
   
   <div id="games-count-selection" class="row" >
      <div class="col-md-6 text-center">
         <p>
            Last {{ lastGamesCount }} games played
         </p>
         <p>Games all time: {{gamesAllTimeCount}}</p>
         <p>Games this month: {{gamesCurrentMonthCount}}</p>
      </div>
      <div class="col-md-6">
         <input id="games-count-input" type="text" class="form-control" [(ngModel)]="lastGamesCount" (keypress)="keyPress($event)" placeholder="Last games count to display">
         <button id="updates-games-btn" type="button" class="btn btn-primary" (click)="getLastGames(lastGamesCount)">Update</button>
      </div>
   </div>
   
   <div class="table-responsive-sm">

      <table class="table table-striped table-bordered">
         <thead>
            <tr>
               <th>Game ID</th>
               <th>Map</th>
               <th>Winner</th>
               <th>Loser</th>
               <th>Played on</th>
               <th>Replay</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let game of lastGames">
               <td>{{ game.GameId }}</td>
               <td><img [map-image]="game.MapCodeName" /></td>
               <td>
                  <div *ngFor="let player of game.Players">
                     <p *ngIf="(!player.IsLooser && !player.IsGameHost)">{{ player.Nickname }}</p>
                     <p *ngIf="(!player.IsLooser && player.IsGameHost)"><u>{{ player.Nickname }}</u></p>
                  </div>
               </td>
               <td>
                  <div *ngFor="let player of game.Players">
                     <p *ngIf="(player.IsLooser && player.IsGameHost)"><u>{{player.Nickname}} </u></p>
                     <p *ngIf="(player.IsLooser) && !player.IsGameHost">{{ player.Nickname }}</p>
                  </div>
               </td>
               <td>{{ game.PlayedOn | date:'yyyy/MM/dd HH:mm:ss' }}</td>
               <td>
                  <div class="download-replay-area" (click)="downloadReplay(game.GameId)">
                     <i class="fa fa-download download-rep-icon"></i>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>

   </div>

</div>