<div class="container" style="margin-top: 150px;">
   <circle-spinner [hidden]="!loading"></circle-spinner>
   <div class="col-sm-8 offset-sm-2 text-center">
      <div *ngIf="isAlertVisible" [ngClass]="(isFailedAlert==true) ? 'alert alert-dismissible alert-danger' : 'alert alert-dismissible alert-success'">
         <button type="button" (click)="hideAlert()" class="close" data-dismiss="alert">&times;</button>
         {{alertMessage}}
      </div>
      <div style="text-align: left;">
         <h2>Register</h2>
      </div>
      <form [formGroup]="rForm" (ngSubmit)="register()">
         <div class="form-group has-danger" style="text-align: left;">
            <label for="login">Login</label>
            <i id="tip-icon" class="fa fa-lightbulb-o" data-toggle="tooltip" data-placement="right" title="" data-original-title="You can use your e-mail address as login so that there are less chances you forget your login."></i>
            <input type="email" name="email" formControlName="email" [(ngModel)]="registerUserViewModel.email" class="form-control" placeholder="Login"
            [ngClass]="{'is-invalid': !rForm.controls['email'].valid && !rForm.controls['email'].pristine }" />
            <div class="invalid-feedback" *ngIf="!rForm.controls['email'].valid && (rForm.controls['email'].touched || rForm.controls['email'].dirty)">Login is required.</div>
         </div>
         <div class="form-group" style="text-align: left;">
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password" [(ngModel)]="registerUserViewModel.password" class="form-control" placeholder="Password" 
            [ngClass]="{'is-invalid': !rForm.controls['password'].valid && !rForm.controls['password'].pristine }">
            <div class="invalid-feedback" *ngIf="!rForm.controls['password'].valid && (rForm.controls['password'].touched || rForm.controls['password'].dirty)">Password is required.</div>
            <div class="invalid-feedback" *ngIf="rForm.controls['password'].hasError('minlength')">Password is too short.</div>
         </div>
         <div class="form-grup" style="text-align: left;">
            <input type="checkbox" name="terms-checkbox" formControlName="terms-checkbox">
               I agree with the <a routerLink="/rules" target="_blank">terms of use</a> of DodgeWars platform.
         </div>
         <div style="text-align: left; padding-top: 24px;">
            <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Register</button>   
         </div>
      </form>
      <div style="min-height: 100vh;"></div>
   </div>
</div>