table{
  margin-top: 75px;
  text-align: center;
}

img{
  width: 20%;
  height: 20%;
}

table tr td{
  vertical-align: middle;
}

table tr td p{
  margin: 0 auto;
}

.download-rep-icon{
  font-size: 18px;
}

.download-rep-icon:hover {
  color: #d9d9d9; 
  cursor: pointer;
}
