<div class="container" style="margin-top: 75px;">

   <!-- StrayHeart -->
	<div class="card text-white bg-primary mb-3" >
      <div class="card-header">StrayHeart: Site admin and project founder</div>
      <div class="card-body">
         <div class="row">
            <div class="col-sm-4 avatar-container">
                  <img src="/assets/components/contact/stray-heart.jpg"
                  style="width: 60%;">
            </div>
            <div class="col-sm-8">
               <p><b>E-mail:</b> rkrawczyszyn@gmail.com</p>
               <p><b>GameReplays:</b> <a href="https://www.gamereplays.org/community/index.php?showuser=172004" target="blank">StrayHeart</a></p>
            </div>
         </div>
      </div>
   </div>

   <!-- Excelsior -->
	<div class="card text-white bg-primary mb-3" >
      <div class="card-header">Excelsior: Staff member, DodgeWars admin</div>
      <div class="card-body">
         <div class="row">
            <div class="col-sm-4 avatar-container">
                  <img src="/assets/components/contact/excelsior-ava.png"
                  style="">
            </div>
            <div class="col-sm-8">
               <p><b>GameReplays:</b> <a href="https://www.gamereplays.org/community/index.php?showuser=220190" target="blank">Excelsior</a></p>
            </div>
         </div>
      </div>
   </div>



   <div style="min-height: 100vh;"></div>
</div>
