﻿<div class="container">
    <div class="col-sm-8 offset-sm-2" style="margin-top: 150px;">

        <circle-spinner [hidden]="!loading"></circle-spinner>

        <!-- <div *ngIf="isAlertVisible" 
            [ngClass]="(isFailedAlert==true) ? 'alert alert-dismissible alert-danger' : 'alert alert-dismissible alert-success'">
            <button type="button" (click)="hideAlert()" class="close" data-dismiss="alert">&times;</button>
            {{alertMessage}}
         </div> -->

         <div *ngIf="isAlertVisible" 
            [ngClass]="(isFailedAlert==true) ? 'alert alert-dismissible alert-danger' : 'alert alert-dismissible alert-success'">
            <button type="button" (click)="hideAlert()" class="close" data-dismiss="alert">&times;</button>
            {{alertMessage}}
         </div>

        <h2>Create nickname</h2>
        <form [formGroup]="rForm" (ngSubmit)="createNickname()">
            <div class="form-group has-danger">
                <input type="text" name="nickname" formControlName="nickname" [(ngModel)]="nickname" class="form-control"
                  [ngClass]="{'is-invalid': !rForm.controls['nickname'].valid && !rForm.controls['nickname'].pristine }"/>
                <div class="invalid-feedback" *ngIf="!rForm.controls['nickname'].valid && !rForm.controls['nickname'].hasError('maxlength') && (rForm.controls['nickname'].touched || rForm.controls['nickname'].dirty)">Nickname is required.</div>
                <div class="invalid-feedback" *ngIf="rForm.controls['nickname'].hasError('maxlength')">Nickname must not be longer than 10 characters.</div>
            </div>
            <button style="margin-top: 12px;" type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Submit</button>
        </form>
        <div style="min-height: 100vh;"></div>
    </div>
</div>
