<circle-spinner [hidden]="!loading"></circle-spinner>

<div class="container">

   <div class="" style="margin-top: 75px;">
         <div class="col-sm-12" style="text-align: center;">
         <img class="img-fluid d-block mx-auto"
            src="/assets/shared/rotwk-logo.jpg"
            
            style="width: 40%; height: 30%;"
            alt="">
         <p class="lotr-font">monthly team ladder</p>
      </div>
   </div>

   <div class="row">
    <button type="button" class="btn btn-primary" (click)="getMonthlyTeamLadderData(selectedDateString)">Refresh</button>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{selectedDateDisplay}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"
        *ngFor="let dateString of displayArray; let i=index"
        (click)="getMonthlyTeamLadderData(dateString.DateString)">
            {{dateString.DateDisplay}}
        </a>
      </div>
    </div>
   </div>
    

    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Rating</th>
                    <th>Wins</th>
                    <th>Loses</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nick of warriors; let i=index" >
                    <td>{{ nick.Nickname }}</td>
                    <td>{{ nick.MonthlyRating }}</td>
                    <td>{{ nick.Wins }}</td>
                    <td>{{ nick.Loses }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
