.footer{
	background-color: #ffa400;
	width:100%;
	min-height: 60px;
	margin-top: 45px;
	padding: 10px 230px 15px 230px;
}

.footer p{
	margin-bottom: 0;
}

#footer-label-right{
	position: absolute;
	right: 0;
}

#footer-label-right p{
	text-align: right;
}