<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Contact me at rkrawczyszyn@gmail.com</p>
    </div>
    <!-- /.container -->
</footer>