﻿<div class="container" style="margin-top: 150px;">
    
   <circle-spinner [hidden]="!loading"></circle-spinner>

   <div class="col-sm-8 offset-sm-2 text-center">

      <div id="alert-failed-login" *ngIf="isFailedAlertVisible" class="alert alert-dismissible alert-danger">
         <button type="button" (click)="hideFailedAlert()" class="close" data-dismiss="alert">&times;</button>
         {{alertMessage}}
      </div>
      <div style="text-align: left;">
         <h2>Log in</h2>
      </div>
      
      <form [formGroup]="rForm" (ngSubmit)="login()">
            <div class="form-group has-danger" style="text-align: left;">
                  <label for="email">E-mail address:</label>
                  <input type="email" name="email" formControlName="email" [(ngModel)]="loginUserViewModel.email" class="form-control" placeholder="Email"
                  [ngClass]="{'is-invalid': !rForm.controls['email'].valid && !rForm.controls['email'].pristine }"/>
                  <div class="invalid-feedback" *ngIf="!rForm.controls['email'].valid && (rForm.controls['email'].touched || rForm.controls['email'].dirty)">Login is required.</div>
            </div>
      
            <div class="form-group" style="text-align: left;">
                  <label for="password">Password:</label>
                  <input type="password" name="password" formControlName="password" [(ngModel)]="loginUserViewModel.password" class="form-control" placeholder="Password" 
                     [ngClass]="{'is-invalid': !rForm.controls['email'].valid && !rForm.controls['email'].pristine }"/>
                  <div class="invalid-feedback" *ngIf="!rForm.controls['password'].valid && (rForm.controls['password'].touched || rForm.controls['password'].dirty)">Password is required.</div>
            </div>
      
            <div style="text-align: left; padding-top: 24px;">
               <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Log in</button>
            </div>
            
         </form>
         <div style="min-height: 100vh;"></div>


   </div>
   
    
</div>
