.img-center {
    display: block;
    margin: 0 auto;
}

.ul-on-page li{
    margin-left: 40px;
}

.fa-download{
    font-size: 35px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ffa400;
    text-decoration: none;
}

#rep-parser-label{
    font-size: 20px;
    font-weight: 500;
}

.orange-label{
    color: #ffa400;
}

#faq-container{
    list-style: none;
}

.question{
    font-size: 20px;
    color: #ffa400;
}

.question:hover{
    cursor: pointer;
}

.answer{
    font-size: 14px;
}

.show-faq{
    display: block;
}

.hide-faq{
    display: none;
}

p{
    font-size: 24px;
}