<div class="container font-secondary">
    
        <div class="col-md-8 col-md-offset-2 font-basic">        
            <h1 class="mar-bottom-medium">FAQs:</h1>
            
            <ul id="faq-container">
                <p class="mar-bottom-medium">Compatibility</p>
                <li class="qa-item">
                    <div class="question mar-bottom-low">Why does antivirus software displays warnings?</div>
                    <div class="answer mar-bottom-high hide-faq">Don't panic if you see Windows Defender's (or any other kind of antivirus software) warning you this app brings you risk. This is a default behaviour od security programs when they say you're trying to run a file with '.exe' extension that come from a foregin source, so antivirus software thinks it is unsafe. You have my word it is not.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What game resolution is supported for autoreporting?</div>
                    <div class="answer mar-bottom-high hide-faq">You must run your game with one of these resolutions: 1024x768, 1366x768, 1920x1080</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What languages does autoreport feature support?</div>
                    <div class="answer mar-bottom-high hide-faq">The autoreport feature only supports english language version</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What languages does manual report feature support?</div>
                    <div class="answer mar-bottom-high hide-faq">The manual feature only supports the following languages: english, german, russian, spanish, polish.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What maps can I play?</div>
                    <div class="answer mar-bottom-high hide-faq">At the moment you can play your 1v1 games on the following maps and only these will be reported correctly: Fords of Isen, Rohan, Rohan II, Erech, Erech II</div>
                </li>

                <p class="mar-bottom-medium">Cases</p>
                <li class="qa-item">
                    <div class="question mar-bottom-low">Can I use auto and manual mode at the same time?</div>
                    <div class="answer mar-bottom-high hide-faq">No, you can not. You can only use one mode at a time. To select another mode you need to restart application.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What if Fraps does not take screenshots in game?</div>
                    <div class="answer mar-bottom-high hide-faq">if Fraps does not take screenshots when pressing screen cap key, try running it as administrator</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What if games goes OOS and I'm using autoreport tool?</div>
                    <div class="answer mar-bottom-high hide-faq">By default the flag is set to false, so you're going to have a loss reported. If there are 2 players, then the first request that reaches server is going to be processed.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">I followed your instructions, but it still doesn't report games. Why?</div>
                    <div class="answer mar-bottom-high hide-faq">Check one of the following: you run Fraps as administrator, when you press F10 Fraps does take screenshots from game, run Replay Parser app as administrator, check that your replay file has 'Last Replay.BfME2Replay' name</div>
                </li>

                <li class="qa-item">
                    <div class="question mar-bottom-low">What if I report loss and there were observers in the game?</div>
                    <div class="answer mar-bottom-high hide-faq">The application will not take observers into account and will proceed game data.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What if I press F6 multiple times in manual mode?</div>
                    <div class="answer mar-bottom-high hide-faq">A game can be reported only once. Once it gets reported, all other attempts will be rejected.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What if somebody tricked me and did not report his game?</div>
                    <div class="answer mar-bottom-high hide-faq">In this can you can fill the <a href="http://test.dodgewars.net/nonreportedmatch">AR form</a> to have it resolved by the admin.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What if I use a nickname I did not register on the platform?</div>
                    <div class="answer mar-bottom-high hide-faq">Application should write to console output that such name could not be found.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">How are the points calculated?</div>
                    <div class="answer mar-bottom-high hide-faq">Points are calculated based on formula provided on <a target="_blank" href="https://metinmediamath.wordpress.com/2013/11/27/how-to-calculate-the-elo-rating-including-example/" style="color: #ffa400; "><b>this site</b></a>.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">How are team games points calculated?</div>
                    <div class="answer mar-bottom-high hide-faq">Similar to how they're calculated in 1v1 games right now. It's just the LoserRating and WinnerRating would be average ratings of losers and winners.</div>
                </li>

                <p class="mar-bottom-medium">Points penalty</p>
                <li class="qa-item">
                    <div class="question mar-bottom-low">When do I get points penalty?</div>
                    <div class="answer mar-bottom-high hide-faq">Players decay 15 points for every 14 days of inactivity</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">Will this affect me?</div>
                    <div class="answer mar-bottom-high hide-faq">It will only affect you if you stay in certain top players range. The top players range is defined as players having the highest two hundreads of points gained.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What kind of rating will it affect?</div>
                    <div class="answer mar-bottom-high hide-faq">It will affect both individual and team ratings. For example if you play 1v1 actively, but you stopped playing team games and you stay in top, then only your Team rating value will be substracted.</div>
                </li>

                <p class="mar-bottom-medium">Team games</p>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What kind of team games can I play?</div>
                    <div class="answer mar-bottom-high hide-faq">You can play all 2v2, 3v3 and 4v4 kind of games</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">What maps can I play on team games?</div>
                    <div class="answer mar-bottom-high hide-faq">Buckland, Anorien II, Ost-in-edhil, Tower Hills, Anfalas II, Dale, Druadan Forest, Eregion, Far Harad, Fords of Rohan, Nanduhirion, Wold</div>
                </li>

                <p class="mar-bottom-medium">Future plans</p>
                <li class="qa-item">
                    <div class="question mar-bottom-low">Balance host advantage?</div>
                    <div class="answer mar-bottom-high hide-faq">It is possible in the future when calculating points to take into consideration who was host, and in case a winner was host, grant that player less points for his win.</div>
                </li>
                <li class="qa-item">
                    <div class="question mar-bottom-low">Last replay saving</div>
                    <div class="answer mar-bottom-high hide-faq">It is possible in the future that I will add a feature to save every player's replay in the replay directory after every finished game. This will help reporting manually later in case for some reason someone pressed F6 too early or wrong.</div>
                </li>
            </ul>        
        </div>
    </div>
    